---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../data/projects";
import type { Project } from "../types";

---

<div class="grid grid-cols-2 gap-2">
  { projects.slice().reverse().map((proyecto: Project) => (
    <ProjectCard
      name={proyecto.name}
      descripcion={proyecto.descripcion}
      links={proyecto.links}
      technologies={proyecto.technologies}
      image={proyecto.image}
    />
  ))}
</div>

