---
import { Image } from "astro:assets";
import type { Link } from "../types";

interface Props {
  name: string;
  descripcion: string;
  links: Link[];
  technologies: string[];
  image: ImageMetadata;
}
const { name, descripcion, links, technologies, image } = Astro.props;
import ButtonProjectCard from "./ButtonProjectCard.astro";

function cutDescription(description: string): string {
  return description.length > 100
    ? `${description.slice(0, 100)}...`
    : description;
}
---

<div class="relative max-w-sm overflow-hidden rounded-lg shadow">
  <div class="absolute inset-0 bg-white/5 backdrop-blur-md"></div>
  <a href="#" class="relative z-10">
    <Image src={image} alt="image" />
  </a>
  <div class="relative p-5 z-10">
    <a href="#">
      <h5 class="mb-2 text-2xl font-bold tracking-tight">
        {name}
      </h5>
    </a>
    <p class="mb-3 font-normal">
      {cutDescription(descripcion)}
    </p>
    <div class="flex flex-wrap gap-2">
      {
        links.map((enlace) => (
          <ButtonProjectCard href={enlace.url}>
            {enlace.name}
          </ButtonProjectCard>
            
            
        ))
      }
    </div>
    
  </div>
</div>
